{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand py-0" href="{% url 'home' %}">
            <img src="{% static 'images/v4/qt-white-transparent.png' %}" alt="QuantumTrade Logo" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'marketplace-listings' %}">Marketplace</a></li>
                <!-- AppKit UI Components -->
                <li class="nav-item">
                    <div class="button-group">
                        <appkit-button />
                    </div>
                </li>
                <!-- Theme Switcher Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="themeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i id="themeIcon" class="bi bi-circle-half"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" id="themeDropdownMenu" style="min-width: auto;"></ul>
                </li>
            </ul>
        </div>
    </div>
</nav>