// Google Buttons
$google_btn_text_color: #1f1f1f;
$google_btn_font-family: 'Roboto', arial, sans-serif;
$google_btn_background-color_1: WHITE;
$google_btn_background-color_2: #ffffff61;
$google_btn_background-color_3: #303030;
$google_btn_border-color: #1f1f1f1f;